<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Sorry, 404 not found!</h1>
    <p class="lead">This pages dosent exist.</p>
    <hr class="my-4">
    <button type="button" class="btn btn-lg btn-primary" disabled>Learn More</button>
  </div>
</div>