<%- include('partials/header')%> 
<% if (entries.length) { %>
 <% entries.forEach(entry => { %>
       
    
      <div class="card text-center mb-5" >
        <div class="card-header">
          # <%- dato = entry.lenght%>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%- entry.title %></h5>
          <p class="card-text"><%- entry.body %> </p>
          <a href="#" class="btn btn-danger">Move to trash</a>
        </div>
        <div class="card-footer text-muted">
          <%- entry.published %> 
        </div>
     

 <% }) %>
<% }else{%>
    <div class="container mt-5">
      
          <div class="alert alert-warning alert-dismissible fade show "  role="alert">
            <strong>No tienes Tareas /</strong>  <a href="/new-task"> Crea una</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             
          </div>
        </div>
    <% }%>
<%- include('partials/footer')%> 