<%- include('partials/header')%> 
<section class="about-area ">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="../../public/images/img.svg" alt="About us" class="img-fluid animated slideInLeft slow">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <h2 class=" display-4 text-uppercase pt-5">
                    <span>Create</span> task
                    
                </h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                        <form method="post" >
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="title">Titulo</label>
                                <input type="text" class="form-control" name="title" id="title" placeholder="Hacer comida a las 8:00" >
                            
                              <div class="form-row">
                                <div class="form-group col-md-12 mt-5">
                                    <div class="form-group">
                                        <label for="body">Contenido</label>
                                        <textarea class="form-control" name="body" id="body" rows="3"></textarea>
                                      </div>
                                </div>

                    </p>
                   
                    <button type="submit" class="btn btn-info" >Create Task</button>
                </form>
                </div>
            </div>
        </div>
    </div>
  </section>         
<%- include('partials/footer')%> 