<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="navbar-brand " href="https://github.com/Masync">@Masync</a>
</nav>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>