<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TaskApp</a>
    <a href="/new-task"class="btn btn-outline-info my-2 my-sm-0" >Create Task</a>
   
  </nav>

